/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  outline-offset: 0;
}

html {
  font: 62.5% / 1.15 sans-serif;
}

h1,
h2 {
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
}

button::-moz-focus-inner {
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}


input[type="text"] {
  border-radius: 0;
}

body {
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
  font-style: normal;
  font-size: 16px;
  line-height: 110%;
  background-color: #fff;
  color: #4d4d4d;
}

/* END RESETS */
/* Header */
.label-wrapper {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 0.01em;
  color: #11175E;
  padding-top: 30px;
}

/* End Header */
/* Form */
.input__lg {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 300px 10px 20px;
}

.container {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
}

.form-container {
  border: 1.5px solid #EEEEEE;
  border-radius: 8px;
  display: flex;
  width: 600px;
  height: 58px;
  margin-top: 32px;
}

.btn__lg {
  display: flex;
  padding: 8px 18px;
  background: #2D70FD;
  border: 1px solid #2D70FD;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  width: 75px;
  height: 40px;
  margin: 7px;
}

input[type="text"] {
  border-color: #FFFFFF;
  border-width: 0;
  border: 0;
}

button,
input {
  overflow: hidden;
}

.input__lg::placeholder {
  color: #B1BACB
}

.btn {
  cursor: pointer;
  text-transform: capitalize;
  font-family: 'Inter';
}

/* End Form */
/* To do */
ul {
  margin-top: 35px;
}

.todo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.todo>* {
  padding: 14px 15px;
}


.todo-text {
  cursor: pointer;
  font-weight: 550;
}

.todo-text:hover {
  color: #2D70FD;
}

.todo-text:checked {
  text-decoration: line-through;
}

/* End To Do */
/* Check box */
.cb {
  appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 11px;
  margin-top: 12px;
}

.cb:checked {
  background-color: #00D8A7;
  border-color: #00D8A7;
}

.cb::before {
  content: url("../public/Vector.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.cb:checked::before {
  opacity: 1;
}

input[type="checkbox"]:checked {
  accent-color: rgb(60, 150, 60);
}

input[type="checkbox"]:checked+span.todo-text {
  text-decoration: line-through;
  color: #8F98A8;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #EEEEEE;
  padding-top: 8px;
  color: #B1BACB;
  margin-top: 130px;
}

.selected {
  margin-right: auto;
}

.clear {
  margin-left: auto;
  cursor: pointer;
}

.clear:hover {
  color: #2D70FD;
}

.clear:active {
  font-weight: bold;
}


.pagination {
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 9px;
}

.pagination a {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
}

.pagination .break-me {
  margin-right: 10px;
}

.pagination a:hover {
  color: #2D70FD;
}

.pagination a:focus {
  color: #2D70FD;
}

.pagination a:active {
  color: #2D70FD;
  font-weight: bold;
}

/* Footer End */